In [53]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import pymysql

In [54]:
connection = 'mysql+pymysql://root:ilikepizza@34.77.143.32/project2'

In [55]:
engine = create_engine(connection)

In [61]:
df = pd.read_csv('price_by_district.csv')

In [8]:
df.to_sql('airbnb', engine)

ValueError: Table 'airbnb' already exists.

In [58]:
query = '''
SELECT * FROM comparison'''

In [59]:
df = pd.read_sql(query, engine)

In [62]:
df

,neighbourhood_group_cleansed,id,price,accommodates,availability_60,minimum_nights,revenue
0,Ciutat Vella,15032265.61,117.43,3.84,18.11,4.59,2377.71
1,Eixample,10664289.50,156.27,4.72,19.57,2.86,3017.02
2,Gràcia,9699926.23,135.86,4.23,18.49,3.18,2752.22
3,Horta-Guinardó,12189816.85,157.97,4.25,17.32,2.57,2811.40
4,Les Corts,11242483.47,213.90,4.04,24.10,2.14,3378.92
5,Nou Barris,9425841.33,81.11,3.78,17.33,2.78,1638.33
6,Sant Andreu,9365560.50,80.86,4.36,10.18,2.64,2023.45
7,Sant Martí,11273150.72,134.58,4.63,18.09,2.91,2552.73
8,Sants-Montjuïc,10012109.15,103.79,4.36,18.79,3.04,2049.39
9,Sarrià-Sant Gervasi,10731520.99,143.10,4.02,22.37,2.55,2498.55

In [19]:
import seaborn as sns

cm = sns.light_palette("seagreen", as_cmap=True)

s = df.style.background_gradient(cmap=cm, subset=['airbnb_revenue', 'airbnb_min_revenue', 'rent'])


s

In [64]:
columns = ['district', 'airbnb_revenue', 'rent']
comparison = pd.DataFrame(columns = columns)

In [65]:
comparison['district'] = df['neighbourhood_group_cleansed']

In [66]:
comparison['airbnb_revenue'] = df['revenue']

In [67]:
comparison['rent'] = rent['Preu']

In [68]:
comparison

              district  airbnb_revenue     rent
0         Ciutat Vella         2377.71   930.51
1             Eixample         3017.02  1038.47
2               Gràcia         2752.22   876.14
3       Horta-Guinardó         2811.40   764.27
4            Les Corts         3378.92  1313.60
5           Nou Barris         1638.33   660.98
6          Sant Andreu         2023.45   743.88
7           Sant Martí         2552.73   884.76
8       Sants-Montjuïc         2049.39   819.55
9  Sarrià-Sant Gervasi         2498.55  1335.04

In [79]:
comparison['pct_change'] = ((comparison['airbnb_revenue'] - comparison['rent'])/ comparison['rent']) * 100

In [83]:
comparison['pct_change'] = round(comparison['pct_change']/100, 2)

In [84]:
comparison

              district  airbnb_revenue     rent  pct_change
0         Ciutat Vella         2377.71   930.51      155.53
1             Eixample         3017.02  1038.47      190.53
2               Gràcia         2752.22   876.14      214.13
3       Horta-Guinardó         2811.40   764.27      267.85
4            Les Corts         3378.92  1313.60      157.23
5           Nou Barris         1638.33   660.98      147.86
6          Sant Andreu         2023.45   743.88      172.01
7           Sant Martí         2552.73   884.76      188.52
8       Sants-Montjuïc         2049.39   819.55      150.06
9  Sarrià-Sant Gervasi         2498.55  1335.04       87.15