In [88]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
import pymysql

In [89]:
connection = 'mysql+pymysql://root:ilikepizza@34.77.143.32/project2'

In [90]:
engine = create_engine(connection)

In [60]:
df = pd.read_csv('price_by_district_no_min_nights.csv')

In [61]:
df.to_sql('airbnb', engine)

In [70]:
query = '''
SELECT * FROM rent, airbnb, airbnb_min

JOIN rent ON airbnb.index = rent.index
JOIN '''

In [71]:
pd.read_sql(query, engine)

   index        Nom_Districte     Preu
0      0         Ciutat Vella   930.51
1      1             Eixample  1038.47
2      2               Gràcia   876.14
3      3       Horta-Guinardó   764.27
4      4            Les Corts  1313.60
5      5           Nou Barris   660.98
6      6          Sant Andreu   743.88
7      7           Sant Martí   884.76
8      8       Sants-Montjuïc   819.55
9      9  Sarrià-Sant Gervasi  1335.04

In [72]:
airbnb = pd.read_csv('price_by_district_no_min_nights.csv')
airbnb_min = pd.read_csv('price_by_district.csv')
rent= pd.read_csv('rentdistricts.csv')

In [78]:
airbnb

  neighbourhood_group_cleansed  revenue
0                 Ciutat Vella  1483.19
1                     Eixample  1638.18
2                       Gràcia  1282.71
3               Horta-Guinardó  1165.42
4                    Les Corts  2969.52
5                   Nou Barris   692.08
6                  Sant Andreu  1276.69
7                   Sant Martí  1471.33
8               Sants-Montjuïc  1322.33
9          Sarrià-Sant Gervasi  1509.19

In [74]:
columns = ['district', 'airbnb_revenue', 'airbnb_min_revenue', 'rent']
comparison = pd.DataFrame(columns = columns)

In [77]:
comparison['district'] = airbnb['neighbourhood_group_cleansed']

In [80]:
comparison['airbnb_min_revenue'] = airbnb_min['revenue']

In [81]:
comparison['airbnb_revenue'] = airbnb['revenue']

In [82]:
comparison['rent'] = rent['Preu']

In [83]:
comparison

              district  airbnb_revenue  airbnb_min_revenue     rent
0         Ciutat Vella         1483.19              644.72   930.51
1             Eixample         1638.18              754.13  1038.47
2               Gràcia         1282.71              808.24   876.14
3       Horta-Guinardó         1165.42              789.11   764.27
4            Les Corts         2969.52              643.02  1313.60
5           Nou Barris          692.08              767.61   660.98
6          Sant Andreu         1276.69              712.08   743.88
7           Sant Martí         1471.33              526.14   884.76
8       Sants-Montjuïc         1322.33              645.17   819.55
9  Sarrià-Sant Gervasi         1509.19              514.33  1335.04

In [87]:
comparison.to_csv('comparison')

In [93]:
comparison.to_sql('comparison', engine)

ValueError: Table 'comparison' already exists.